<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #E12128;
  border: 1px solid #a00910b4;;
}
</style>
</head>
<body>
    <header  style="background-color: #E12128;">
        <div class="photos" style="gap: 0em;">
            <img src="/images/ArsenalResources/arsenal-logo.png" alt="">
            <img class = "trophies" src="/images/ArsenalResources/arsenal-trophies.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.arsenal.com/tickets?field_arsenal_team_target_id=1&revision_information=">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.arsenal.com/">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://twitter.com/arsenal"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.instagram.com/arsenal/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.facebook.com/Arsenal/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.youtube.com/@arsenal"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#023375';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@arsenal"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/ArsenalResources/photo-1577224682146-dd7843c88d33.avif'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/ArsenalResources/history.png.jpeg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">The History of Arsenal Football Club is one of the most illustrious and captivating narratives in the realm of football. Founded in 1886, Arsenal has amassed a plethora of titles and commendations, solidifying its standing among the English football elite. From its humble beginnings in Woolwich, South London, to its evolution into a global footballing powerhouse, Arsenal's journey is a testament to its enduring legacy and unwavering spirit.</p>
              <p class="info-history">The club proudly calls one of the world's most iconic stadiums home - Highbury, a place where legions of fans convene to rally behind their team in every encounter.

                Throughout the years, Arsenal has forged a legendary reputation as one of the most triumphant and influential names in football annals. Garnering multiple titles in the English Premier League, including numerous league championships and cups, Arsenal has etched its name into the fabric of English football history.
                
                Yet, Arsenal's true eminence shines brightest on the European stage. With a distinctive brand of play and resilience in the face of challenges, Arsenal has secured multiple European trophies and other prestigious honors.
                
                The club is celebrated for its iconic footballers who have proudly sported the Arsenal colors, as well as its visionary leaders who have left an indelible imprint on the global football landscape.
                </p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/ArsenalResources/arsenalFans.png" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">The fans of Arsenal Football Club, affectionately known as the 'Gooners', play a pivotal role in shaping the club's identity and triumphs. Revered for their unwavering dedication, fervent loyalty, and vocal backing, Arsenal fans ignite an electric atmosphere at every match, transforming the Emirates Stadium into a fortress.</p>
              <p class="info-fans">In victory or defeat, Arsenal supporters stand shoulder to shoulder with their team, celebrating triumphs and weathering setbacks with equal passion. Their chants echo through the stands, their songs reverberate around the stadium, and their banners wave proudly, inspiring players and unsettling adversaries alike.

                The connection between Arsenal and its fans transcends boundaries of geography and time. Whether at home or on the road, Gooners travel far and wide to rally behind their beloved club, painting stadiums red wherever they roam.
                
                But being an Arsenal fan is more than just supporting a football team; it's about camaraderie, identity, and a shared love for the game. Gooners embody the spirit of North London - resilient, proud, and full of passion.
                
                Arsenal and its fans share an unbreakable bond, fueled by their devotion to the game and pursuit of glory, ensuring the club's enduring legacy.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/ArsenalResources/bqetmf5of712ap84fckp.webp" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Arsenal Football Club boasts an illustrious trophy cabinet, adorned with a myriad of titles and honors that underscore its status as one of football's most successful institutions. Since its inception, Arsenal has amassed a formidable array of domestic and international trophies, firmly establishing its place in the annals of the sport.</p>
              <p class="info-trophies">Foremost among Arsenal's trophy collection are its league championships, with the club clinching numerous titles in the English top-flight. From the golden era of the 1930s to modern triumphs, Arsenal's league successes epitomize the club's enduring legacy and winning ethos.

                In addition to league triumphs, Arsenal has enjoyed remarkable success in domestic cup competitions, including the FA Cup and the League Cup. These prestigious cups have provided countless moments of jubilation for players and fans alike, with unforgettable victories etched into the club's storied history.
                
                Yet, it is Arsenal's feats in European competitions that truly distinguish it on the global stage.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #E12128;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>