<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>
<body>
    <header th:replace="~{Fragments/fragments::header(
    '#E12128',
     '/images/ArsenalResources/arsenal-logo.png',
      '/images/ArsenalResources/arsenal-trophies.png',
         'https://www.arsenal.com/tickets?field_arsenal_team_target_id=1&revision_information=',
         'https://www.arsenal.com/',
         'https://twitter.com/arsenal',
         'https://www.instagram.com/arsenal/',
         'https://www.facebook.com/Arsenal/',
         'https://www.youtube.com/@arsenal',
         'https://www.tiktok.com/@arsenal'
          )}"></header>
    <section th:replace="Fragments/fragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#E12128', 'white', ${team.country},${team.competition})"></section>
    <main th:replace="~{Fragments/fragments::main(
    '/images/ArsenalResources/photo-1577224682146-dd7843c88d33.avif',
    '/images/ArsenalResources/history.png.jpeg',
    '/images/ArsenalResources/arsenalFans.png',
    '/images/ArsenalResources/bqetmf5of712ap84fckp.webp',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#E12128',
    '#a00910b4'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#E12128', 'white')"></footer>
      <script src="/js/teamPageJs.js"></script>
</body>
</html>