<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
    <header th:replace="~{Fragments/fragments::header(
    '#660433',
     '/images/AstonVillaResources/logo.png.png',
      '/images/AstonVillaResources/trophies.png',
         'https://tickets.avfc.co.uk/en-GB/categories/home-tickets',
         'https://www.avfc.co.uk/',
         'https://twitter.com/AVFCOfficial',
         'https://www.instagram.com/avfcofficial/',
         'https://www.facebook.com/avfcofficial/?locale',
         'https://www.youtube.com/@avfcofficial',
         'https://www.tiktok.com/@avfcofficial'
          )}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/AstonVillaResources/background.png',
    '/images/AstonVillaResources/Aston-Villa-Logo-history.png',
    '/images/AstonVillaResources/home-banner8.jpg',
    '/images/AstonVillaResources/trophieWin.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#660433',
    '#a00910b4'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#660433', '#87B7E8')"></footer>
      <script src="/myscript.js"></script>
</body>
</html>