<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstonVilla page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #660433;
  border: 1px solid #a00910b4;;
}
</style>
</head>
<body>
    <header  style="background-color: #660433;">
        <div class="photos" style="gap: 0em;">
            <img src="/images/AstonVillaResources/logo.png.png" alt="">
            <img class = "trophies" src="/images/AstonVillaResources/trophies.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://tickets.avfc.co.uk/en-GB/categories/home-tickets">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.avfc.co.uk/">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://twitter.com/AVFCOfficial"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.instagram.com/avfcofficial/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.facebook.com/avfcofficial/?locale"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.youtube.com/@avfcofficial"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@avfcofficial"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/AstonVillaResources/background.png'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/AstonVillaResources/Aston-Villa-Logo-history.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">The History of Aston Villa Football Club is a tale steeped in tradition, tracing its roots back to 1874. Situated in Birmingham, Aston Villa stands as one of England's oldest and most esteemed football clubs, boasting a legacy defined by triumphs, challenges, and enduring passion. From its humble origins to its rise as a prominent figure in English football, Aston Villa's journey reflects the spirit of determination and resilience.</p>
              <p class="info-history">Founded by members of the Villa Cross Wesleyan Chapel cricket team, Aston Villa emerged from humble beginnings to become a prominent figure in the burgeoning world of football. Throughout its storied history, the club has played a pivotal role in shaping the landscape of English football, contributing to its growth and development.

                Aston Villa's golden era dawned in the late 19th and early 20th centuries under the guidance of legendary manager George Ramsay. During this period, the club achieved unprecedented success, claiming numerous league titles and FA Cups, solidifying its reputation as a dominant force in English football.
                
                As Aston Villa continues to build upon its rich heritage and tradition, the club remains a beloved institution in English football, cherished by fans and respected by rivals alike. With each passing season, Aston Villa's legacy grows, as it continues to inspire generations of players and fans with its commitment to excellence and the pursuit of glory.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/AstonVillaResources/home-banner8.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">The devoted fans of Aston Villa Football Club, affectionately known as the 'Villans', play a pivotal role in shaping the club's identity and success. Revered for their unwavering dedication, fervent loyalty, and vocal support, Aston Villa fans create an electrifying atmosphere at every match, turning Villa Park into a fortress.</p>
              <p class="info-fans">In victory or defeat, Aston Villa supporters stand united with their team, celebrating triumphs and enduring setbacks with equal passion. Their chants resonate throughout the stadium, their songs echoing the rich history of the club, and their banners proudly displaying the claret and blue colors inspire players and intimidate opponents alike.

                The bond between Aston Villa and its fans transcends geographical boundaries and generations. Whether at home or away, Villans travel far and wide to support their beloved club, painting stadiums with claret and blue wherever they go. But being an Aston Villa fan is more than just supporting a football team; it's about community, identity, and a shared love for the game.
                
                Aston Villa and its fans share an unbreakable bond, fueled by their devotion to the game and pursuit of glory, ensuring the club's enduring legacy.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/AstonVillaResources/trophieWin.png"  id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Aston Villa Football Club boasts a rich and proud trophy cabinet, adorned with a collection of titles and honors that underscore its esteemed status in the world of football. Throughout its illustrious history, Aston Villa has enjoyed success in both domestic and international competitions, firmly establishing its place among the elite clubs of the sport.</p>
              <p class="info-trophies">At the forefront of Aston Villa's trophy haul are its league championships, with the club securing numerous titles in the English top-flight. From its early triumphs to more recent successes, Aston Villa's league victories symbolize the club's enduring tradition of excellence. Additionally, Aston Villa has enjoyed notable triumphs in domestic cup competitions, including the FA Cup and the League Cup. These prestigious trophies have provided moments of joy and pride for players and fans alike, immortalizing the club's achievements in the annals of football history.

                Although Aston Villa's European exploits may not rival its domestic achievements, the club has made notable appearances and contributions on the continental stage, further enhancing its reputation as a distinguished football club.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #660433; color: #87B7E8;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>