<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
    <header th:replace="~{Fragments/clubFragments::header(
    '#660433',
     '/images/AstonVillaResources/logo.png.png',
      '/images/AstonVillaResources/trophies.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
          )}"></header>
    <section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#660433', '#87B7E8', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/AstonVillaResources/background.png',
    '/images/AstonVillaResources/Aston-Villa-Logo-history.png',
    '/images/AstonVillaResources/home-banner8.jpg',
    '/images/AstonVillaResources/trophieWin.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#660433',
    '#a00910b4'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#660433', '#87B7E8')}"></footer>
      <script src="/js/teamPageJs.js"></script>
</body>
</html>