<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bournemouth page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #CA0B0F;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #CA0B0F; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/BournemouthResources/logog.webp" alt="">
            <img class = "trophies" src="/images/BournemouthResources/troph (1).png" alt="">
        </div>
        <nav>
            <ul>
              <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://tickets.afcb.co.uk/content">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.afcb.co.uk">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/afcbournemouth"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/afcb/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/afcb/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCeOCuVSSweaEj6oVtJZEKQw"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@afcb"><i class="fa-brands fa-tiktok"></i></a></i></li>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/BournemouthResources/wp4227156-afc-bournemouth-wallpapers.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/BournemouthResources/history.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
                Bournemouth AFC, founded in 1899, has a storied history marked by resilience, determination, and a commitment to progress. Despite facing challenges and setbacks along the way, the club has continually risen to the occasion, etching its name into the annals of English football.</p>
              <p class="info-history">Throughout its journey, Bournemouth AFC has experienced both highs and lows, navigating various divisions and leagues with steadfast resolve. The club's ascent through the ranks reflects its unwavering dedication to success and its ability to overcome adversity, embodying the spirit of perseverance and unity.

                In recent years, Bournemouth AFC has enjoyed a period of sustained success, marked by promotions and memorable achievements. Under the guidance of visionary leadership and the unwavering support of its fans, the club has firmly established itself as a formidable force in English football, earning plaudits for its style of play and competitive spirit.
                
                As Bournemouth AFC continues to chart its course in the world of football, its rich history serves as a source of inspiration and pride for players, fans, and the community alike. With each passing season, the club reaffirms its commitment to excellence and its determination to leave a lasting legacy in the beautiful game.
                </p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/BournemouthResources/C8VTmuAXUAA1hNM.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The fans of Bournemouth AFC, affectionately known as the "Cherries," play an integral role in shaping the identity and spirit of the club. Known for their unwavering loyalty, passion, and unwavering support, Bournemouth's fans create a vibrant atmosphere at every match, transforming the Vitality Stadium into a fortress of noise and energy.</p>
              <p class="info-fans">Whether cheering from the stands or following the team on the road, the Cherries faithful are a constant source of inspiration for players, motivating them to give their all on the pitch. Their chants, songs, and colorful displays create an electric atmosphere that resonates throughout the stadium, driving the team forward in times of triumph and adversity alike.

                The connection between Bournemouth AFC and its fans runs deep, transcending the boundaries of the football pitch. United by their love for the club and their shared experiences, the Cherries faithful form a tight-knit community that celebrates victories and rallies together in times of challenge. Their unwavering support fuels the team's ambition and strengthens the bond between players, fans, and the club, ensuring that Bournemouth AFC continues to thrive both on and off the pitch.
                </p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/BournemouthResources/maxresdefault (1).jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Bournemouth AFC has yet to secure major silverware in English football, having primarily competed in lower divisions for much of its history. While the club has experienced success in lower league competitions, including promotions and notable finishes, it has not claimed significant trophies on the national or international stage.</p>
              <p class="info-trophies">Despite this, Bournemouth has achieved significant milestones, such as winning the Football League Third Division title in the 1986–1987 season and the Football League Championship title in the 2014-2015 season. These triumphs underline the club's progress and resilience in the footballing landscape, showcasing its ability to compete and succeed in competitive leagues.

                Additionally, Bournemouth has enjoyed notable cup runs in domestic tournaments, including the FA Cup and the League Cup, where it has faced top-tier opposition and made memorable appearances. While the club's trophy cabinet may not boast major honors, its achievements reflect its determination, spirit, and commitment to success in English football.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #CA0B0F;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>