<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
    <header th:replace="~{Fragments/fragments::header(
    '#CA0B0F',
     '/images/BournemouthResources/logog.webp',
      '/images/BournemouthResources/troph (1).png',
         'https://tickets.afcb.co.uk/content',
         'https://www.afcb.co.uk',
         'https://twitter.com/afcbournemouth',
         'https://www.instagram.com/afcb/',
         'https://www.facebook.com/afcb/',
         'https://www.youtube.com/channel/UCeOCuVSSweaEj6oVtJZEKQw',
         'https://www.tiktok.com/@afcb'
          )}"></header>
    <section th:replace="Fragments/fragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#CA0B0F', 'white', ${team.country},${team.competition})"></section>
    <main th:replace="~{Fragments/fragments::main(
    '/images/BournemouthResources/wp4227156-afc-bournemouth-wallpapers.jpg',
    '/images/BournemouthResources/history.png',
    '/images/BournemouthResources/C8VTmuAXUAA1hNM.jpg',
    '/images/BournemouthResources/maxresdefault (1).jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#660433',
    '#a00910b4'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#CA0B0F', 'white')"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>