<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
<header th:replace="~{Fragments/fragments :: header(
    '#E31E27',
    '/images/BrentfordResources/brentford-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg',
    '/images/BrentfordResources/trophies.png',
    'https://www.brentfordfc.com/en/ticket-information',
    'https://www.brentfordfc.com/en',
    'https://twitter.com/brentfordfc',
    'https://www.instagram.com/brentfordfc/',
    'https://www.facebook.com/brentfordfootballclub1889/',
    'https://www.youtube.com/channel/UCAalMUm3LIf504ItA3rqfug',
    'https://www.tiktok.com/@brentfordfc'
)}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/BrentfordResources/wp10896436.jpg',
    '/images/BrentfordResources/FKHFg0hXIAIgeRM.jpg',
    '/images/BrentfordResources/GettyImages-1424890436_bkrt4c.avif',
    '/images/BrentfordResources/skysports-brentford-trophy_5399277.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#E31E27',
    '#a00910b4'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#E31E27', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>