<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brentford page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #E31E27;
  border: 1px solid #a00910b4;;
}
</style>
</head>
<body>
    <header  style="background-color: #E31E27; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/BrentfordResources/brentford-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg" alt="">
            <img class = "trophies" src="/images/BrentfordResources/trophies.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.brentfordfc.com/en/ticket-information">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.brentfordfc.com/en">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/brentfordfc"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/brentfordfc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/brentfordfootballclub1889/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCAalMUm3LIf504ItA3rqfug"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@brentfordfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/BrentfordResources/wp10896436.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/BrentfordResources/FKHFg0hXIAIgeRM.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Established in 1889, Brentford Football Club boasts a storied past deeply intertwined with the fabric of English football. Situated in West London, the club's journey is a testament to resilience, determination, and a relentless pursuit of success.</p>
              <p class="info-history">From its modest origins, Brentford swiftly ascended the ranks of English football, navigating various leagues and divisions with grit and determination. The early years were marked by fierce local rivalries and spirited competition, laying the groundwork for the club's enduring legacy.

                Brentford experienced its heyday in the 1930s, a period defined by notable success in domestic competitions. Under the astute leadership of managers like Harry Curtis, the club enjoyed memorable cup runs and achieved remarkable feats, captivating the hearts of fans.
                
                Despite facing challenges and setbacks along the way, Brentford's spirit remained unyielding. The club adapted to changing times, embracing new opportunities while staying true to its values and traditions.
                
                In recent years, Brentford has embarked on a new chapter, characterized by a commitment to progressive football and innovative club development. With state-of-the-art facilities and a passionate fanbase, Brentford stands poised for a bright future, symbolizing the enduring spirit of the beautiful game.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/BrentfordResources/GettyImages-1424890436_bkrt4c.avif" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">The fans of Brentford Football Club, affectionately known as the 'Bees', are the heartbeat of the club, infusing every match with passion, energy, and unwavering support. From the terraces of Griffin Park to the new Brentford Community Stadium, the Bees faithful create an electric atmosphere that propels the team forward.</p>
              <p class="info-fans">Renowned for their loyalty and dedication, Brentford fans stand by their team through thick and thin, celebrating victories and rallying behind the players in times of adversity. Their chants echo through the stands, their colors adorn the stadium, and their unwavering support inspires players to give their all on the pitch.

                The bond between Brentford and its fans runs deep, transcending the boundaries of the football pitch. Whether at home or on the road, Bees supporters travel far and wide to show their allegiance, creating a sea of red and white wherever they go.
                
                Being a Brentford fan is more than just supporting a football club; it's about community, camaraderie, and shared experiences. The Bees faithful embody the spirit of West London - resilient, passionate, and proud.
                
                Together, Brentford and its fans form an unbreakable bond, united in their love for the game and their belief in the club's potential.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/BrentfordResources/skysports-brentford-trophy_5399277.jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Brentford Football Club, while not boasting a glittering trophy cabinet like some of its counterparts, has a rich history filled with moments of triumph, resilience, and community spirit. Founded in 1889, the club's focus has often been on its passionate fanbase, grassroots development, and the pursuit of excellence on the pitch.</p>
              <p class="info-trophies">Although Brentford has not secured major trophies in domestic or international competitions, the club has enjoyed success in lower league tournaments and has consistently demonstrated its commitment to nurturing talent and promoting a brand of attractive, attacking football. Brentford's legacy is not solely defined by silverware, but rather by its ability to unite communities, inspire young players, and embody the spirit of football as a unifying force.

                In addition to its achievements, Brentford has clinched the championship in the Second Division (Championship) during the seasons 1934/1935 and 2020/2021. These triumphs underscore the club's resilience and determination to compete at the highest level, despite not securing major trophies in the top leagues or national cups.
                
                With a dedicated fanbase and a forward-thinking approach, Brentford continues to strive for success, eager to etch its name in the annals of football history.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #E31E27;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>