<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    '#E31E27',
    '/images/BrentfordResources/brentford-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg',
    '/images/BrentfordResources/trophies.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#E31E27', 'white', ${team.country},${team.competition})}"></section>

    <main th:replace="~{Fragments/clubFragments::main(
    '/images/BrentfordResources/wp10896436.jpg',
    '/images/BrentfordResources/FKHFg0hXIAIgeRM.jpg',
    '/images/BrentfordResources/GettyImages-1424890436_bkrt4c.avif',
    '/images/BrentfordResources/skysports-brentford-trophy_5399277.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#E31E27',
    '#a00910b4'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#E31E27', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>