<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brighton page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
            .card-body button{
        background-color: #114D96;
        border: 1px solid #2a6be2;
      }
    </style>
</head>
<body>
    <header  style="background-color: #114D96;">
        <div class="photos" style="gap: 0em;">
            <img src="/images/BrightonResources/brighton-club-logo-symbol-premier-league-football-abstract-design-illustration-with-blue-background-free-vector.jpg" alt="">
            <img class = "trophies" src="/images/BrightonResources/[removal.ai]_b02c73b2-2ef3-40f9-a497-c1f1a116bb01-brightontrophies.png" alt="">
        </div>
       <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://tickets.brightonandhovealbion.com">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.brightonandhovealbion.com">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/OfficialBHAFC"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/officialbhafc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/officialbhafc/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCf-cpC9WAdOsas19JHipukA"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@officialbhafc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/BrightonResources/background.png'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/BrightonResources/history.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Founded in 1901, Brighton & Hove Albion Football Club has a rich and storied history that spans over a century. Situated in the vibrant coastal city of Brighton & Hove, the club has been a focal point of the community, captivating fans with its thrilling matches and enduring spirit.</p>
              <p class="info-history">From its early days at the Goldstone Ground to its modern home at the American Express Community Stadium, Brighton & Hove Albion has undergone a remarkable journey of growth and transformation. The club has weathered the highs and lows of professional football, experiencing moments of triumph and adversity along the way.

                Brighton & Hove Albion's rise to prominence culminated in its return to the top-flight of English football in 2017, marking a historic achievement for the club and its loyal supporters. The Seagulls have since established themselves as a competitive force in the Premier League, showcasing their talent and determination on the national stage.
                
                Throughout its history, Brighton & Hove Albion has been defined by its passionate fanbase, known affectionately as the 'Seagulls'. These dedicated supporters have stood by their team through thick and thin, filling stadiums with chants, songs, and a sea of blue and white.
                
                As Brighton & Hove Albion continues to build upon its legacy, the club remains a symbol of pride and unity for the city and its fans. With each passing season, the Seagulls soar to new heights, driven by a commitment to excellence and a shared love for the beautiful game..</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/BrightonResources/_90678312_rexfeatures_5685412h.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">The fans of Brighton & Hove Albion Football Club, affectionately known as the 'Seagulls', are the lifeblood of the team, infusing every match with passion, energy, and unwavering support. From the stands of the American Express Community Stadium to away matches across the country, the Seagulls faithful create an electric atmosphere that fuels the players on the pitch.</p>
              <p class="info-fans">Renowned for their loyalty and dedication, Brighton & Hove Albion fans stand by their team through every twist and turn of the season, celebrating victories and rallying behind the players in times of challenge. Their chants echo through the stadium, their colors adorn the stands, and their unwavering support inspires players to give their all on the field.

                The bond between Brighton & Hove Albion and its fans runs deep, transcending the boundaries of the football pitch. Whether at home or on the road, Seagulls supporters travel far and wide to show their allegiance, creating a sea of blue and white wherever they go.
                
                Being a Brighton & Hove Albion fan is more than just supporting a football club; it's about community, camaraderie, and shared experiences. The Seagulls faithful embody the spirit of Brighton & Hove - vibrant, resilient, and full of pride.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/BrightonResources/Danny-Cullip.webp" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Despite Brighton & Hove Albion Football Club never clinching major trophies in the top leagues or national cups, its journey through English football history is defined by resilience, commitment, and unwavering dedication to its supporters. Founded in 1901, the club has ingrained itself within its community, embodying the spirit of Brighton & Hove with every match played and every challenge faced.</p>
              <p class="info-trophies">Throughout its existence, Brighton & Hove Albion has remained steadfast in its pursuit of excellence on the pitch, continuously striving to represent its community with pride and passion. Despite not achieving major silverware, the club's legacy is marked by memorable moments, unwavering support from its fans, and a commitment to its core values.

                Although Brighton & Hove Albion claimed the championship in the Second Division (Championship) during the seasons 1957/1958 and 2001/2002, it has yet to secure major trophies in the top leagues or national cups. Nonetheless, the club's journey is characterized by resilience, unity, and an enduring bond with its loyal supporters.
                
                As Brighton & Hove Albion continues its journey in English football, its legacy is not defined solely by trophies but by the spirit, resilience, and unwavering dedication that have shaped its identity throughout history.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #114D96;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>