<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Palace page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #03529B;
  border: 1px solid #a00910b4;;
}
</style>
</head>
<body>
    <header  style="background-color: #03529B;">
        <div class="photos" style="gap: 2em;">
            <img src="/images/CeystalPalaceResources/south-london-englandseptember-18-2023crystal-600nw-2363472517.webp" alt="">
            <img class = "trophies" src="/images/CeystalPalaceResources/snapedit_1713895512888.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.cpfc.co.uk/tickets/">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.cpfc.co.uk">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://twitter.com/cpfc"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.instagram.com/cpfc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.facebook.com/officialcpfc/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCWB9N0012fG6bGyj486Qxmg"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#EE1B24';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@cpfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/CeystalPalaceResources/gettyimages-899395030.webp'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/CeystalPalaceResources/Crystal-Palace.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">The football club Crystal Palace has a long and storied history, serving as an integral part of English football. Founded in 1905, the team has grown into an iconic symbol for the London area and the footballing community.</p>
              <p class="info-history">Over the years, Crystal Palace has experienced many thrilling moments, including periods of success and challenges. With its classy style of play and the dedication of its players, Crystal Palace has earned respect and admiration for the game.

                The supporters of Crystal Palace are as crucial as the team itself. Their passionate backing and loyalty have created an incredible atmosphere at Selhurst Park and away matches, making every Crystal Palace game unforgettable.
                
                While Crystal Palace may not have amassed many trophies, the team remains a significant part of London's football history and heritage. With reverence for the game and a commitment to success, Crystal Palace continues to inspire its fans and remain a prominent player in the world of English football.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/CeystalPalaceResources/eafa88e52f7523bc86df580bc997a612.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The supporters of Crystal Palace Football Club, known for their unwavering dedication and vibrant spirit, are an essential aspect of the club's identity. From the stands of Selhurst Park to the far reaches of away matches, Palace fans create an electrifying atmosphere that ignites the passion of players and fans alike.</p>
              <p class="info-fans">Renowned for their fervent support and loyalty, Crystal Palace fans stand by their team through thick and thin, celebrating victories and rallying behind the players during challenging times. Their chants, songs, and colorful displays adorn the stadium, showcasing their unwavering commitment to the club.

                The bond between Crystal Palace and its fans runs deep, transcending mere spectatorship to embody a shared sense of community and belonging. Whether at home or on the road, Palace supporters travel far and wide to show their dedication, creating a sea of red and blue wherever they go.
                
                Being a Crystal Palace fan is more than just supporting a football club; it's about camaraderie, passion, and a shared love for the game. Together, the players and fans of Crystal Palace forge an unbreakable bond, united in their pursuit of success and their unwavering belief in the club's values.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/CeystalPalaceResources/130527184730-football-crystal-palace-promoted-to-premier-league.jpg"  id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Crystal Palace Football Club has a storied history marked by notable achievements, both domestically and in lower league competitions. Since its establishment, the club has experienced moments of triumph and success, etching its name in the annals of English football.</p>
              <p class="info-trophies">Among Crystal Palace's notable accomplishments are its successes in lower league competitions, including two first-place finishes in the Second Division (Championship). These achievements highlight the club's ability to compete at a high level and secure promotion to the top tier of English football.

                While Crystal Palace may not have amassed a significant number of major trophies, its legacy is characterized by resilience, determination, and a commitment to excellence on the pitch. The club's dedication to nurturing talent and fostering a competitive spirit has earned it respect within the footballing community.
                
                Despite the absence of major silverware, Crystal Palace's journey is defined by its ability to overcome challenges and compete at the highest level of English football. With each season, the club continues to strive for success, driven by the passion and unwavering support of its loyal fans.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #03529B; color: white;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>