<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
    <header th:replace="~{Fragments/clubFragments :: header(
    '#03529B',
    '/images/CeystalPalaceResources/south-london-englandseptember-18-2023crystal-600nw-2363472517.webp',
    '/images/CeystalPalaceResources/snapedit_1713895512888.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
    <section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#03529B', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/CeystalPalaceResources/gettyimages-899395030.webp',
    '/images/CeystalPalaceResources/Crystal-Palace.png',
    '/images/CeystalPalaceResources/eafa88e52f7523bc86df580bc997a612.jpg',
    '/images/CeystalPalaceResources/130527184730-football-crystal-palace-promoted-to-premier-league.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#03529B',
    '#a00910b4'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#03529B', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>