<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everton page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #0044C1;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #0044C1; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/EvertonResources/unnamed.webp" alt="">
            <img class = "trophies" src="/images/EvertonResources/snapedit_1713901075068.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.eticketing.co.uk/evertonfc?_gl=1*de4wuf*_ga*OTgzMDc0MTQ1LjE3MTM5MDA4NjA.*_ga_4H186ENHQ4*MTcxMzkwMDg1OS4xLjEuMTcxMzkwMTQzMC42MC4wLjA.">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.evertonfc.com/home">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/everton"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/everton/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/Everton/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/EVERTON"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@everton"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/EvertonResources/sports-everton-wallpaper-preview.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/EvertonResources/history.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Everton Football Club boasts a rich and illustrious history that spans over a century, making it one of the most storied clubs in English football. Founded in 1878, Everton has played a significant role in shaping the landscape of the sport, both domestically and internationally.</p>
              <p class="info-history">Throughout its history, Everton has been synonymous with success, capturing the hearts of football fans around the world with its attractive style of play and the remarkable achievements of its players. The club's iconic royal blue shirts and the renowned Goodison Park stadium serve as enduring symbols of its heritage and tradition.

                From the early days of pioneering football in the late 19th century to its golden era of the 1980s, Everton has left an indelible mark on the sport, producing legendary players and memorable moments that have become part of football folklore. The club's rich tapestry of history is woven with triumphs, challenges, and moments of sheer brilliance that have solidified its place among the elite of English football.
                
                With a passionate fanbase that spans generations, Everton continues to uphold its legacy of excellence, striving for success on the pitch while remaining true to its values of integrity, unity, and community. As Everton looks toward the future, its illustrious past serves as a source of inspiration and pride, driving the club forward as it seeks to add new chapters to its storied history.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/EvertonResources/20191101-Everton-01.webp" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The fans of Everton Football Club, affectionately known as the "Toffees" or the "Blues," are an integral part of the club's identity and success. Renowned for their unwavering passion, loyalty, and vocal support, Everton fans create an electrifying atmosphere at every match, turning Goodison Park into a fortress.</p>
              <p class="info-fans">Through thick and thin, Everton supporters stand by their team, celebrating victories and enduring defeats with equal fervor. Their chants, songs, and banners adorn the stands, inspiring players and intimidating opponents alike. The bond between Everton and its fans runs deep, transcending geographical boundaries and generations.

                Whether at home or away, Everton fans travel far and wide to support their beloved club, creating a sea of blue wherever they go. But it's not just about football for Evertonians; it's about community, belonging, and shared passion. They embody the spirit of the city of Liverpool - resilient, proud, and full of heart.
                
                Together, Everton and its fans form an unbreakable bond, united by a love for the game and a desire for glory. Their unwavering support fuels the club's success and ensures that the spirit of Everton lives on, season after season.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/EvertonResources/trophieEverton.png" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Everton Football Club has a decorated history, marked by numerous trophies and accolades that showcase its success and pedigree in English football. Since its inception, Everton has captured various titles and honors, cementing its place among the elite clubs of the sport.</p>
              <p class="info-trophies">The club's trophy cabinet includes league championships, with Everton clinching the English top-flight title on nine occasions. Additionally, Everton has lifted the FA Cup five times, contributing to its rich heritage and tradition in domestic cup competitions.

                In European competitions, Everton has also left its mark, winning the European Cup Winners' Cup in the 1984-1985 season. This triumph on the continental stage further solidified Everton's reputation as a formidable force in European football.
                
                Furthermore, Everton has enjoyed success in other competitions, such as the FA Charity Shield, the League Cup, and various regional and minor trophies throughout its illustrious history.
                
                Overall, Everton's trophy haul reflects its enduring excellence and competitiveness on the footballing stage, serving as a testament to the club's rich legacy and the passion of its players and fans alike.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #0044C1;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>