<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    '#0044C1',
    '/images/EvertonResources/unnamed.webp',
    '/images/EvertonResources/snapedit_1713901075068.png',
    'https://www.evertonfc.com/tickets-hospitality',
    'https://www.evertonfc.com/home',
    'https://twitter.com/everton',
    'https://www.instagram.com/everton/',
    'https://www.facebook.com/Everton/',
    'https://www.youtube.com/EVERTON',
    'https://www.tiktok.com/@everton'
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#0044C1', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/EvertonResources/sports-everton-wallpaper-preview.jpg',
    '/images/EvertonResources/history.jpg',
    '/images/EvertonResources/20191101-Everton-01.webp',
    '/images/EvertonResources/trophieEverton.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#0044C1',
    '#FFFFFF'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#0044C1', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>