<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    'black',
    '/images/FulhamResources/fc-fulham-club-logo-symbol-premier-league-football-abstract-design-illustration-with-black-background-free-vector.jpg',
    '/images/FulhamResources/png.png',
    'https://www.fulhamfc.com/tickets-and-hospitality/match-tickets/',
    'https://www.fulhamfc.com',
    'https://twitter.com/fulhamfc',
    'https://www.instagram.com/fulhamfc/',
    'https://www.facebook.com/FulhamFC/',
    'https://www.youtube.com/channel/UC2VLfz92cTT8jHIFOecC-LA',
    'https://www.tiktok.com/@fulhamfc'
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, 'black', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/FulhamResources/4d7bfe60-f206-11ec-9ca5-25aa8b1b033c.jpg',
    '/images/FulhamResources/history.png',
    '/images/FulhamResources/fulham-fc-we-are-banner-bkzif8pmreha0t7v.jpg',
    '/images/FulhamResources/players (2).png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    'black',
    '#FFFFFF'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('black', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>