<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulham page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: black;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: black; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/FulhamResources/fc-fulham-club-logo-symbol-premier-league-football-abstract-design-illustration-with-black-background-free-vector.jpg" alt="">
            <img class = "trophies" src="/images/FulhamResources/png.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: #CB2026 !important;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.fulhamfc.com/tickets-and-hospitality/match-tickets/">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: #CB2026 !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.fulhamfc.com">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: #CB2026 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://twitter.com/fulhamfc"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: #CB2026 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.instagram.com/fulhamfc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: #CB2026 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.facebook.com/FulhamFC/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: #CB2026 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.youtube.com/channel/UC2VLfz92cTT8jHIFOecC-LA"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: #CB2026 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#CB2026';" href="https://www.tiktok.com/@fulhamfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/FulhamResources/4d7bfe60-f206-11ec-9ca5-25aa8b1b033c.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/FulhamResources/history.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Fulham Football Club boasts a storied history, defined by moments of triumph and resilience that have shaped its legacy in English football. Founded in 1879, Fulham has forged its path through the ranks of the footballing world, leaving an indelible mark on the sport.</p>
              <p class="info-history">Though not adorned with as many trophies as some of its counterparts, Fulham's journey is characterized by its unwavering spirit and dedication to the game. Over the years, the club has showcased its talent and determination, earning respect both domestically and internationally.

                While Fulham may not have secured top-flight league titles, its presence in English football is undeniable. The club has had notable successes in cup competitions, including memorable runs in the FA Cup and the League Cup, demonstrating its ability to compete at the highest levels.
                
                Beyond domestic competitions, Fulham has also made appearances in European tournaments, showcasing its quality on the continental stage. Despite facing challenges along the way, Fulham continues to strive for excellence, driven by the passion of its players and the unwavering support of its loyal fanbase.
                
                In essence, Fulham's history is a testament to the club's resilience, determination, and enduring legacy in the world of football.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/FulhamResources/fulham-fc-we-are-banner-bkzif8pmreha0t7v.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The fans of Fulham Football Club are an integral part of the club's identity and success, contributing to its vibrant atmosphere and unwavering support. Known for their passion and loyalty, Fulham fans create an electrifying atmosphere at Craven Cottage and beyond, standing by their team through every twist and turn of the season.</p>
              <p class="info-fans">From the stands, Fulham supporters cheer on their beloved club with fervor, inspiring players and creating an atmosphere that fuels the team's performance on the pitch. Their chants and songs echo throughout the stadium, creating a sense of unity and belonging among fellow fans.

                Regardless of the results on the field, Fulham fans remain dedicated to their club, celebrating victories and rallying behind the team during challenging times. Their unwavering support is a testament to the strong bond between the club and its supporters, transcending geographical boundaries and generations.
                
                Whether at home or away, Fulham fans travel far and wide to show their allegiance, painting stadiums with the club's colors and creating a sea of support wherever they go.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/FulhamResources/players (2).png" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Fulham Football Club, while not boasting a plethora of major trophies, has enjoyed success in various competitions throughout its history, demonstrating its competitive spirit and resilience on the footballing stage.</p>
              <p class="info-trophies">Among Fulham's notable achievements are its triumphs in lower league competitions, including the Football League Second Division title on two occasions. These victories underscore the club's ability to compete at different levels of English football and its commitment to excellence across all competitions.

                In addition to its successes in lower leagues, Fulham has also made significant appearances in domestic cup competitions. Although the club has not lifted the FA Cup or the League Cup, its presence in these tournaments highlights its competitive edge and determination to succeed on the national stage.
                
                While Fulham's trophy cabinet may not rival those of some of its counterparts, the club's achievements in lower league competitions and its competitive performances in domestic cups reflect its rich history and tradition in English football. These accomplishments serve as a source of pride for players, fans, and the wider Fulham community, embodying the spirit of the club and its enduring legacy.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: black;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>