<!DOCTYPE html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier Legue Live Scores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{Fragments/clubsLinksHeaderAndFooter::clubsLinksHeader}"></header>
    <main>
      <div style="display: flex;flex-direction: column;align-self: center !important; height: 100%;">
          <form th:method="get" style="border-radius: 50%; align-self: self-start; padding: 1em; display: flex; align-items: center; flex-direction: column; text-align: center; background-color: white;color: #37003C;">
              <label class="text-white" for="lang" style="display: flex; align-items: center; margin-bottom: 0.5em;color: #37003C;flex-direction: column">
                  <i class="fa-solid fa-language" style="margin-right: 0.5em;color: #37003C;font-size: 2.3em;"></i> <span style="color: #37003C;" th:text="#{nav_bar_language}">Language</span>
              </label>
              <select id="lang" name="lang" onchange="this.form.submit()" style="border-radius: 0.6em;border: 1px solid #37003C; width: 6.3em">
                  <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                  <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
              </select>
          </form>
          <a class="register-link" sec:authorize="isAuthenticated()" th:href="@{/profile}" style=";border-radius: 50%;align-self: self-start; margin: 1em;padding: 0.7em;display: flex; align-items: center; flex-direction: column;text-align: center;"><i style=" font-size: 2.6em;align-self: center" class="fa-solid fa-user"></i><span th:text="#{profile}"></span></a>
          <a class="register-link" sec:authorize="isAuthenticated()" th:href="@{/chat}" style=";border-radius: 50%;align-self: self-start; margin: 1em;padding: 1em;display: flex; align-items: center; flex-direction: column;text-align: center;"><i style=" font-size: 2.3em;align-self: center" class="fa-solid fa-comments"></i><span th:text="#{chat}"></span></a>
      </div>
      <div class="main">
        <div class="ranking">
          <p class="ranking-header" th:text="#{table_ranking_title}">PREMIER LEAGUE</p>
            <table class="table table-white" id="rank">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody class="standings-table">
                <!-- Rows will be inserted here -->
                </tbody>
            </table>
    </div>
      <div class="middle-container">
        <img src="/images/logos/imgbin_premier-league-uefa-champions-league-manchester-city-f-c-trophy-leicester-city-f-c-png.png" alt="">
        <div class="content">
        <div class="video">
          <iframe width="420" height="250" src="https://www.youtube.com/embed/UFXRlCgykrw?si=Q17z4d3uezOOTzOf&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="info">
          <p th:text="#{home_page_info}">The Premier Anflian League - the epitome of football culture and competitiveness. Established in 1920, it attracts millions of fans with its elegant matches and iconic teams. Experience the thrilling moments and the passion of football with us.</p>
        </div>
      </div>
      </div>

      <section class="live-scores">
        <p th:text="#{table_matches_title}" style="font-size: 1.6em">Live scores</p>
          <table class="table table-white" id="lastMatchesTable">
              <thead>
              </thead>
              <tbody>
              <!-- Rows will be inserted here -->
              </tbody>
          </table>
      </section>
    </div>
    </main>
    <section class="footer">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #5F3363;">
          <!-- Grid container -->
          <div class="container p-4 pb-0"  id="regist" sec:authorize="!isAuthenticated()">
            <!-- Section: CTA -->
            <section class="register-footer">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3" th:text="#{footer_have_account_question}">Already have an account? </span>
                <a href="/login" th:text="#{footer_login_button}"class="register-link">Login here</a>
                <span style="padding-inline: 0.3em" th:text="#{footer_dont_have_account_question}"> Don't have one? </span>
                  <a href="/register" class="register-link" th:text="#{footer_sign_button}">Sign up</a>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
          <div class="container p-4 pb-0"  id="logout" sec:authorize="isAuthenticated()" style="padding: 0.6rem !important;">
            <!-- Section: CTA -->
            <section class="logout-footer">
                <span class="me-3" style="display: inline" th:text="#{footer_logout_text}">Logout for here </span>
                <form th:action="@{/logout}" th:method="post"  sec:authorize="isAuthenticated()" style="display: inline">
                  <button class="register-link" type="submit" th:text="#{footer_logout}">Logout</button>
                </form>
            </section>
            <!-- Section: CTA -->
          </div>
          <div th:replace="~{Fragments/clubsLinksHeaderAndFooter::homeFooter}"></div>
        </footer>
        <!-- Footer -->
      </section>
    <script src="/js/indexJs.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadStandings();
            loadLastMatches();

            setInterval(() => {
                loadStandings();
                loadLastMatches();
            }, 49000);

            function loadStandings() {
                fetch('/api/standings')
                    .then(response => response.json())
                    .then(data => {
                        displayStandings(data);
                    })
                    .catch(error => {
                        console.error('Error fetching standings:', error);
                    });
            }

            const teamNamesBG = {
                "AFC Bournemouth": "Борнемут",
                "Arsenal FC": "Арсенал",
                "Aston Villa FC": "Астън Вила",
                "Brentford FC": "Брентфорд",
                "Brighton & Hove Albion FC": "Брайтън & Хоув Албиън",
                "Chelsea FC": "Челси",
                "Crystal Palace FC": "Кристъл Палас",
                "Everton FC": "Евертън",
                "Fulham FC": "Фулъм",
                "Ipswich Town FC": "Ипсуич Таун",
                "Leicester City FC": "Лестър Сити",
                "Liverpool FC": "Ливърпул",
                "Manchester City FC": "Манчестър Сити",
                "Manchester United FC": "Манчестър Юнайтед",
                "Newcastle United FC": "Нюкасъл Юнайтед",
                "Nottingham Forest FC": "Нотингам Форест",
                "Southampton FC": "Саутхамптън",
                "Tottenham Hotspur FC": "Тотнъм Хотспър",
                "West Ham United FC": "Уест Хям Юнайтед",
                "Wolverhampton Wanderers FC": "Уулвърхямптън Уондърърс"
            };

            const teamNamesEN = {
                "AFC Bournemouth": "Bournemouth",
                "Arsenal FC": "Arsenal",
                "Aston Villa FC": "Aston Villa",
                "Brentford FC": "Brentford",
                "Brighton & Hove Albion FC": "Brighton & Hove Albion",
                "Chelsea FC": "Chelsea",
                "Crystal Palace FC": "Crystal Palace",
                "Everton FC": "Everton",
                "Fulham FC": "Fulham",
                "Ipswich Town FC": "Ipswich Town",
                "Leicester City FC": "Leicester City",
                "Liverpool FC": "Liverpool",
                "Manchester City FC": "Manchester City",
                "Manchester United FC": "Manchester United",
                "Newcastle United FC": "Newcastle United",
                "Nottingham Forest FC": "Nottingham Forest",
                "Southampton FC": "Southampton",
                "Tottenham Hotspur FC": "Tottenham Hotspur",
                "West Ham United FC": "West Ham United",
                "Wolverhampton Wanderers FC": "Wolverhampton Wanderers"
            };

            function getLanguageFromURL() {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get('lang') || 'en_US';
            }

            function displayStandings(standings) {
                const lang = getLanguageFromURL();
                const teamNames = lang === 'bg_BG' ? teamNamesBG : teamNamesEN;

                const standingsTableBody = document.querySelector('#rank tbody');
                standingsTableBody.innerHTML = ''; // Изчистване на текущите данни
                standings.forEach(team => {
                    const row = document.createElement('tr');
                    const translatedName = teamNames[team.name] || team.name; // Получаване на преведеното име или оригиналното име
                    row.innerHTML = `
            <th scope="row">${team.position}</th>
            <td colspan="2">${translatedName}</td>
            <td>${team.points}</td>
        `;
                    standingsTableBody.appendChild(row);
                });
            }

            function loadLastMatches() {
                fetch('/api/last-matches')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Last matches data:', data); // Проверка в конзолата за получените данни
                        displayLastMatches(data); // Показване на последните мачове
                    })
                    .catch(error => {
                        console.error('Error fetching last matches:', error);
                    });
            }

            function displayLastMatches(matches) {
                const lang = getLanguageFromURL();
                const teamNames = lang === 'bg_BG' ? teamNamesBG : teamNamesEN;
                const noDataText = lang === 'bg_BG' ? "-" : "N/A";

                const lastMatchesTableBody = document.querySelector('#lastMatchesTable tbody');
                lastMatchesTableBody.innerHTML = ''; // Изчистване на текущите данни

                matches.forEach(match => {
                    const row = document.createElement('tr');
                    const translatedHomeTeam = teamNames[match.homeTeam] || match.homeTeam;
                    const translatedAwayTeam = teamNames[match.awayTeam] || match.awayTeam;
                    const homeGoals = match.homeGoals !== "N/A" ? match.homeGoals : noDataText;
                    const awayGoals = match.awayGoals !== "N/A" ? match.awayGoals : noDataText;

                    // Създаване на клетки за домакинския отбор, резултата и гостуващия отбор
                    const homeTeamCell = document.createElement('td');
                    homeTeamCell.textContent = translatedHomeTeam;

                    const resultCell = document.createElement('td');
                    resultCell.textContent = `${homeGoals} : ${awayGoals}`;

                    const awayTeamCell = document.createElement('td');
                    awayTeamCell.textContent = translatedAwayTeam;

                    // Добавяне на клетките към реда
                    row.appendChild(homeTeamCell);
                    row.appendChild(resultCell);
                    row.appendChild(awayTeamCell);

                    // Добавяне на реда към таблицата
                    lastMatchesTableBody.appendChild(row);
                });
            }
        });

</script>
</body>
</html>