<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstonVilla page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #153C89;
  border: 1px solid #051e50;;
}
</style>
</head>
<body>
    <header  style="background-color: #153C89;">
        <div class="photos" style="gap: 0em;">
            <img src="/images/IpswichResources/11645_o.jpg" alt="">
            <img class = "trophies" src="/images/IpswichResources/4.jpg.184b16b10402b7ed512e3b938c760e79.jpg" alt="">
        </div>
        <nav>
            <ul>
              <li ><a style = "color: white !important;" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://tickets.avfc.co.uk/en-GB/categories/home-tickets">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.itfc.co.uk">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://twitter.com/ipswichtown"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.instagram.com/ipswichtown/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.facebook.com/officialitfc/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.youtube.com/user/officialitfc"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#87B7E8';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@ipswichtown"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/IpswichResources/ipswich-town-1440-x-960-wallpaper-f4f8jsa8nfy4wszm.webp'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/IpswichResources/history.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Ipswich FC, a historic English football club based in Ipswich, Suffolk, has made a triumphant return to the Premier League in 2024, marking a significant milestone in its storied history. The club's journey to the top flight has been characterized by resilience, determination, and a steadfast commitment to excellence.</p>
              <p class="info-history">Founded in 1878, Ipswich FC has a rich heritage deeply ingrained in the fabric of English football. Throughout its existence, the club has experienced its fair share of highs and lows, from memorable triumphs to challenging setbacks. However, its unwavering spirit and passionate fan base have remained constants, fueling the team's aspirations for success.

                Under the astute leadership of their manager and the dedication of a talented squad, Ipswich FC has navigated the competitive landscape of the lower divisions with aplomb, steadily climbing the ranks in pursuit of their ultimate goal. Their promotion to the Premier League signifies the culmination of years of hard work and dedication, as well as a testament to the club's ambition and vision for the future.
                
                As Ipswich FC prepares to embark on their Premier League campaign, they do so with a sense of excitement and determination.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/IpswichResources/20326079-2884-48ac-89b3-2b079d035764.png" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">Ipswich FC's passionate fan base has been a driving force behind the club's journey back to the Premier League. Through thick and thin, these loyal supporters have stood by their team, filling the stands with unwavering enthusiasm and unwavering loyalty.</p>
              <p class="info-fans">For generations, the people of Ipswich have lived and breathed football, their devotion to the club transcending mere fandom to become a way of life. From the jubilant celebrations of victories to the unwavering support during challenging times, the bond between the team and its fans runs deep.

                Now, as Ipswich FC prepares for life in the Premier League once again, the anticipation among supporters is palpable. Their unwavering belief in the team's abilities and their unyielding support will serve as a source of inspiration as the club takes on the best teams in the country.
                
                With every chant, every cheer, and every display of unwavering loyalty, Ipswich FC's fans will be there, standing shoulder to shoulder with their beloved team, ready to write the next chapter in the club's illustrious history.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/IpswichResources/bobby.jpg"  id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Ipswich Town Football Club, commonly known as Ipswich FC, boasts a rich and storied history within English football. Established in 1878, Ipswich FC has been a fixture in the English football landscape for well over a century. However, it wasn't until the late 1950s and early 1960s that the club truly began to make its mark on the national stage.</p>
              <p class="info-trophies">Under the management of the legendary Sir Alf Ramsey, Ipswich FC experienced its golden era. Ramsey guided the team to the Football League First Division title in the 1961-1962 season, marking the club's first top-flight championship. This triumph was followed by further success in the 1970s under manager Bobby Robson, who led Ipswich to victory in the FA Cup in 1978 and the UEFA Cup in 1981.

                Throughout the years, Ipswich FC has seen its fair share of ups and downs, experiencing periods of both glory and struggle. Despite facing relegation from the Premier League in the early 2000s, the club has maintained a passionate and dedicated fan base, known for their unwavering support through thick and thin.
                
                Today, Ipswich FC continues to compete in the Football League, striving to reclaim its former glory and solidify its place among the elite clubs in English football.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #153C89; color: white;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>