<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
    <header th:replace="~{Fragments/fragments :: header(
    '#004c97',
    '/images/LeicesterResources/logo.png',
    '/images/LeicesterResources/trphies.png',
    'https://tickets.lcfc.com/en-gb/categories/home%20tickets',
    'https://www.lcfc.com/?lang=EN',
    'https://twitter.com/LCFC',
    'https://www.instagram.com/lcfc/',
    'https://www.facebook.com/lcfc/',
    'https://www.youtube.com/@LCFC',
    'https://www.tiktok.com/@lcfc'
)}"></header>
    <section th:replace="Fragments/fragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#004c97', 'white', ${team.country},${team.competition})"></section>
    <main th:replace="~{Fragments/fragments::main(
    '/images/LeicesterResources/0_Champions-League-2.webp',
    '/images/LeicesterResources/EIOKHe5XsAAt-QP.jpg',
    '/images/LeicesterResources/leicester-city-v-arsenal-fc-premier-league-5ce83b7fd11b5797a1000001jpg.jpg',
    '/images/LeicesterResources/свали.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#004c97',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#004c97', 'white')"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>