<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leicester City page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #004c97;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #004c97; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/LeicesterResources/logo.png" alt="">
            <img class = "trophies" src="/images/LeicesterResources/trphies.png" alt="">
        </div>
        <nav>
            <ul>
              <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://tickets.lcfc.com/en-gb/categories/home%20tickets">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.lcfc.com/?lang=EN">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/LCFC"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/lcfc/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/lcfc/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/@LCFC"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@lcfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/LeicesterResources/0_Champions-League-2.webp'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/LeicesterResources/EIOKHe5XsAAt-QP.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
                Leicester City Football Club, founded in 1884, has a storied history marked by remarkable achievements and resilience. Despite facing numerous challenges and fluctuations in league positions over the years, Leicester City reached unprecedented heights in the 2015-2016 season, capturing the Premier League title in a stunning display of determination and teamwork.</p>
              <p class="info-history">In addition to its historic Premier League triumph, Leicester City has enjoyed success in domestic cup competitions, including multiple victories in the FA Cup, with the most recent triumph coming in 2021. These cup successes have further enhanced the club's reputation and added to its rich legacy in English football.

                Off the field, Leicester City is deeply ingrained in the local community, engaging fans through various community initiatives and outreach programs. The club's commitment to its supporters fosters a strong sense of belonging and unity among fans, transcending the boundaries of the football pitch.
                
                Overall, Leicester City's journey exemplifies resilience, passion, and the ability to overcome adversity. From its humble beginnings to its status as a Premier League champion, the club continues to inspire fans worldwide, embodying the spirit and resilience of the city it represents.
                </p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/LeicesterResources/leicester-city-v-arsenal-fc-premier-league-5ce83b7fd11b5797a1000001jpg.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                Leicester City Football Club boasts a passionate and devoted fanbase, known for their unwavering support and fervent loyalty through thick and thin. From the iconic King Power Stadium to away matches across the country, Leicester City fans create an electric atmosphere that fuels the players on the pitch.</p>
              <p class="info-fans">Win, lose, or draw, Leicester City supporters stand by their team with pride, celebrating victories and rallying behind the players during challenging times. Their chants reverberate through the stands, their colors adorn the stadium, and their unwavering support inspires the team to give their all on the field.

                The bond between Leicester City and its fans runs deep, transcending the boundaries of the football pitch. Whether at home or on the road, Foxes fans travel far and wide to show their allegiance, creating a sea of blue wherever they go.
                
                Being a Leicester City fan is more than just supporting a football club; it's about camaraderie, passion, and a shared love for the game. The Foxes faithful embody the spirit of Leicester - resilient, proud, and full of passion. Their unwavering support fuels the team's ambition and ensures that the legacy of Leicester City continues to thrive.
                </p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/LeicesterResources/свали.jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Leicester City Football Club has a distinguished trophy cabinet, punctuated by notable achievements that reflect its rise to prominence in English football. While historically not as extensive as some of its counterparts, Leicester City's recent successes have brought significant silverware to the club.</p>
              <p class="info-trophies">Foremost among Leicester City's trophy collection is their historic Premier League title triumph in the 2015-2016 season, a remarkable feat that defied all expectations. Widely regarded as one of the greatest underdog stories in sporting history, Leicester City's Premier League triumph captured the imagination of football fans worldwide and cemented their place in football folklore.

                In addition to their Premier League success, Leicester City has also won the Football League Cup, lifting the trophy on three occasions in 1964, 1997, and 2000. These triumphs in domestic cup competitions have added to the club's rich history and provided moments of joy for players and fans alike.
                
                While Leicester City's trophy haul may not match some of the more decorated clubs in English football, their recent achievements have firmly established them as a force to be reckoned with. With ambitions of further success on both domestic and European fronts, Leicester City continues to build upon its legacy and strive for greatness in the footballing world.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #004c97;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>