<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
    <header th:replace="~{Fragments/fragments :: header(
    '#D71921',
    '/images/LiverpoolResources/liverpool-fc-logo-027452BE2B-seeklogo.com.png',
    '/images/LiverpoolResources/trophies.png',
    'https://www.liverpoolfc.com/tickets/tickets-availability',
    'https://www.liverpoolfc.com/',
    'https://twitter.com/lfc?',
    'https://www.instagram.com/liverpoolfc/',
    'https://www.facebook.com/LiverpoolFC/',
    'https://www.youtube.com/channel/UC9LQwHZoucFT94I2h6JOcjw',
    'https://www.tiktok.com/@liverpoolfc'
)}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/LiverpoolResources/england-football-football-premier-league-stadium-hd-wallpaper-preview.jpg',
    '/images/LiverpoolResources/liverpoolHistory.png',
    '/images/LiverpoolResources/fansAnpPlayers.png',
    '/images/LiverpoolResources/liverpool-team-ucl-trophy_t6baurj3lpnj12yulnlrpq4ge.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#D71921',
    '#7B2518'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#D71921', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>