<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liverpool page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
        background-color: #D71921;
        border: 1px solid #7B2518;
      }
    </style>
</head>
<body>
    <header>
        <div class="photos">
            <img src="/images/LiverpoolResources/liverpool-fc-logo-027452BE2B-seeklogo.com.png" alt="">
            <img class = "trophies" src="/images/LiverpoolResources/trophies.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a style = "color: #7B2518 !important" onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.liverpoolfc.com/tickets/tickets-availability">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: #7B2518 !important; border-inline: 1px solid #D71921;
                  padding-inline: 0.5em;" onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.liverpoolfc.com/">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: #7B2518 !important"  onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://twitter.com/lfc?"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: #7B2518 !important"  onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.instagram.com/liverpoolfc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: #7B2518 !important"  onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.facebook.com/LiverpoolFC/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: #7B2518 !important"  onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.youtube.com/channel/UC9LQwHZoucFT94I2h6JOcjw"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: #7B2518 !important"  onmouseover="this.style.color='#D71921';" onmouseout="this.style.color='#7B2518';" href="https://www.tiktok.com/@liverpoolfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/LiverpoolResources/england-football-football-premier-league-stadium-hd-wallpaper-preview.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/LiverpoolResources/liverpoolHistory.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">The History of Liverpool Football Club is one of the richest and most exhilarating in the world of football. Founded in 1892, Liverpool has garnered numerous titles and accolades, cementing its place among the elite of English football.Starting as a small club in the provincial city of Liverpool, it quickly gains worldwide fame and attracts millions of fans around the globe.</p>
              <p class="info-history">The club is the proud host of one of the most iconic stadiums in the world - Anfield, where thousands of fans gather to support their team in every match.

                Over the years, Liverpool has built a legendary status as one of the most successful and influential names in football history. The club has clinched multiple titles in the English Premier League, including numerous league championships and cups.
                
                But Liverpool's true glory lies in European competitions. With its classy style of play and the adversities it has overcome over the years, Liverpool has won multiple European Cups and other prestigious titles.
                
                The club is renowned for its legendary footballers who have proudly donned the Liverpool colors, as well as its leaders who have left an indelible mark on the history of world football.
                
                With the tradition, prestige, and passion that define it, Liverpool continues to inspire its fans and the football community worldwide. The history of Liverpool is a story of perseverance, ambition, and relentless pursuit of excellence.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/LiverpoolResources/fansAnpPlayers.png" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">The fans of Liverpool Football Club, often referred to as the 'Red Army' or the 'Kopites', are an integral part of the club's identity and success. Renowned for their unwavering passion, loyalty, and vocal support, Liverpool fans create an electrifying atmosphere at every match, turning Anfield into a fortress.</p>
              <p class="info-fans">Through thick and thin, Liverpool supporters stand by their team, celebrating victories and enduring defeats with equal fervor. Their chants, songs, and banners adorn the stands, inspiring players and intimidating opponents alike.

                The bond between Liverpool and its fans runs deep, transcending geographical boundaries and generations. Whether at home or away, Liverpool fans travel far and wide to support their beloved club, creating a sea of red wherever they go.
                
                But it's not just about football for Liverpool fans; it's about community, belonging, and shared passion. They embody the spirit of the city - resilient, proud, and full of heart.
                
                Together, Liverpool and its fans form an unbreakable bond, united by a love for the game and a desire for glory. Their unwavering support fuels the club's success and ensures that the spirit of Liverpool FC lives on, season after season.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/LiverpoolResources/liverpool-team-ucl-trophy_t6baurj3lpnj12yulnlrpq4ge.jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">Liverpool Football Club boasts a glittering trophy cabinet, adorned with numerous titles and accolades that attest to its status as one of the most successful clubs in football history. Since its inception, Liverpool has amassed a formidable collection of domestic and international trophies, etching its name into the annals of the sport.</p>
              <p class="info-trophies">At the forefront of Liverpool's trophy haul are its league championships, with the club having secured numerous titles in the English top-flight. From the early days of dominance in the 1970s and 1980s to more recent triumphs, Liverpool's league successes showcase the club's enduring excellence and winning mentality.

                In addition to league championships, Liverpool has enjoyed remarkable success in domestic cup competitions, including the FA Cup and the League Cup. These cups have provided moments of joy and glory for players and fans alike, with memorable victories etched into the club's rich tapestry of history.
                
                However, it is Liverpool's exploits in European competitions that truly set it apart on the global stage. </p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #D71921;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>