<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
    <header th:replace="~{Fragments/clubFragments :: header(
    '#D71921',
    '/images/LiverpoolResources/liverpool-fc-logo-027452BE2B-seeklogo.com.png',
    '/images/LiverpoolResources/trophies.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
    <section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#D71921', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/LiverpoolResources/england-football-football-premier-league-stadium-hd-wallpaper-preview.jpg',
    '/images/LiverpoolResources/liverpoolHistory.png',
    '/images/LiverpoolResources/fansAnpPlayers.png',
    '/images/LiverpoolResources/liverpool-team-ucl-trophy_t6baurj3lpnj12yulnlrpq4ge.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#D71921',
    '#7B2518'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#D71921', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>