<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manchester City page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #7DB0DB;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #6EACDD; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/ManCityResources/logo.png" alt="">
            <img class = "trophies" src="/images/ManCityResources/trophiesManCity.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: #F4C865 !important;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.mancity.com/tickets/mens">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: #F4C865 !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.mancity.com">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: #F4C865 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://twitter.com/mancity"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: #F4C865 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.instagram.com/mancity/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: #F4C865 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.facebook.com/mancity/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: #F4C865 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.youtube.com/@mancity"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: #F4C865 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#F4C865';" href="https://www.tiktok.com/@mancity"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/ManCityResources/manwallpaper.png'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/ManCityResources/manCityHistory.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">Manchester City Football Club, founded in 1880, has forged a rich and varied history, marked by both triumphs and challenges. Over the years, the club has become a prominent figure in English football, achieving success across various competitions.</p>
              <p class="info-history">With multiple league championships under its belt, Manchester City has consistently showcased its dominance in the English top-flight, establishing itself as a force to be reckoned with. Victories in prestigious domestic cup competitions, such as the FA Cup and the League Cup, have further solidified the club's status among football's elite.

                Beyond domestic success, Manchester City has made significant strides on the European stage, with notable appearances in competitions like the UEFA Champions League and UEFA Europa League. These ventures have contributed to the club's growing reputation as a global football powerhouse.
                
                Throughout its history, Manchester City's unwavering commitment to excellence and its ability to navigate through challenges have been central to its identity. With a resilient spirit and a relentless pursuit of success, the club continues to leave a lasting mark on the world of football, inspiring fans and players alike.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/ManCityResources/manCityFans.png" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                Manchester City Football Club boasts a passionate and dedicated fanbase, known for their unwavering support and fervent loyalty. From the bustling stands of the Etihad Stadium to stadiums across the country, Manchester City fans create an electrifying atmosphere that fuels the team on matchdays.</p>
              <p class="info-fans">Through thick and thin, these devoted supporters stand by their club, celebrating victories and rallying behind the team in times of adversity. Their chants echo through the stadium, their colors adorn the stands, and their unwavering allegiance inspires players to give their all on the pitch.

                The bond between Manchester City and its fans runs deep, transcending geographical boundaries and generations. Whether at home or away, City fans travel far and wide to show their unwavering support, creating a sea of sky blue wherever they go.
                
                Being a Manchester City fan is more than just supporting a football club; it's about belonging to a community, sharing experiences, and embracing the passion for the game. United by their love for the club, City fans embody the spirit of Manchester - resilient, proud, and full of determination. Together, they form an unbreakable bond that continues to drive Manchester City forward, season after season.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/ManCityResources/manchester-city-inter_862x485.webp" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Manchester City Football Club's trophy cabinet is adorned with numerous titles and accolades, underscoring its status as one of the most successful clubs in English football history. The club has secured multiple league championships, including the English top-flight title on numerous occasions, showcasing its dominance domestically.</p>
              <p class="info-trophies">In addition to their league successes, Manchester City has triumphed in various domestic cup competitions, including the FA Cup and the League Cup. These victories have provided moments of joy and pride for players and fans alike, etching their names into the annals of football history.

                Furthermore, Manchester City's achievements extend to the European stage, with notable successes in the UEFA Champions League. While the club's European journey has seen its share of challenges, Manchester City has made significant strides in the competition, further solidifying its reputation as a force to be reckoned with on the continental stage.
                
                Overall, Manchester City's trophy haul reflects its sustained excellence and ambition, showcasing the club's commitment to success both domestically and internationally. With a blend of talent, determination, and unwavering support from its fans, Manchester City continues to etch its name in the annals of footballing glory.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #7DB0DB;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>