<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>


<body>
    <header th:replace="~{Fragments/fragments :: header(
    '#6EACDD',
    '/images/ManCityResources/logo.png',
    '/images/ManCityResources/trophiesManCity.png',
    'https://www.mancity.com/tickets/mens',
    'https://www.mancity.com',
    'https://twitter.com/mancity',
    'https://www.instagram.com/mancity/',
    'https://www.facebook.com/mancity/',
    'https://www.youtube.com/@mancity',
    'https://www.tiktok.com/@mancity'
)}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/ManCityResources/manwallpaper.png',
    '/images/ManCityResources/manCityHistory.png',
    '/images/ManCityResources/manCityFans.png',
    '/images/ManCityResources/manchester-city-inter_862x485.webp',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#7DB0DB',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#7DB0DB', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>