<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
    <header th:replace="~{Fragments/fragments :: header(
    '#8E0000',
    '/images/ManUnitedResources/logoManUnd.png',
    '/images/ManUnitedResources/50508439821.png',
    'https://tickets.manutd.com/en-GB/categories/home-tickets',
    'https://www.manutd.com',
    'https://twitter.com/ManUtd',
    'https://www.instagram.com/manchesterunited/',
    'https://www.facebook.com/manchesterunited/',
    'https://www.youtube.com/manutd',
    'https://www.tiktok.com/@manutd'
)}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/ManUnitedResources/wp3293641.jpg',
    '/images/ManUnitedResources/historyManUnited.png',
    '/images/ManUnitedResources/2038308-42761647-2560-1440.jpg',
    '/images/ManUnitedResources/p01l9tn3.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#DF1A21',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#DF1A21', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>