<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manchester United page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #DF1A21;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #8E0000; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/ManUnitedResources/logoManUnd.png" alt="">
            <img class = "trophies" src="/images/ManUnitedResources/50508439821.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: #FEE600 !important;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://tickets.manutd.com/en-GB/categories/home-tickets">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: #FEE600 !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://www.manutd.com">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: #FEE600 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://twitter.com/ManUtd"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: #FEE600 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://www.instagram.com/manchesterunited/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: #FEE600 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://www.facebook.com/manchesterunited/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: #FEE600 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://www.youtube.com/manutd"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: #FEE600 !important" onmouseover="this.style.color='white';" onmouseout="this.style.color='#FEE600';" href="https://www.tiktok.com/@manutd"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/ManUnitedResources/wp3293641.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/ManUnitedResources/historyManUnited.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
                Manchester United Football Club, founded in 1878, stands as a towering symbol of footballing excellence, boasting a rich legacy that spans over a century. From its humble beginnings, the club has grown into a global powerhouse, revered for its success and tradition in English football.</p>
              <p class="info-history">Over the years, Manchester United has clinched a multitude of league championships, firmly establishing its dominance in the English top-flight. These titles serve as a testament to the club's enduring pursuit of excellence and winning mentality, ingrained in its DNA since its inception.

                In addition to their domestic conquests, Manchester United has left an indelible mark on prestigious cup competitions such as the FA Cup and the League Cup. These triumphs have provided unforgettable moments for players and fans alike, contributing to the club's storied history.
                
                Manchester United's legacy extends beyond domestic glory to the European stage, where it has captured the UEFA Champions League trophy on multiple occasions. These European triumphs have solidified the club's status as a global footballing giant and further enhanced its reputation on the international stage.
                
                Overall, Manchester United's history is a saga of triumph, resilience, and unwavering passion, encapsulating the essence of footballing greatness. As the club continues to evolve and inspire, its legacy remains an enduring symbol of sporting excellence and tradition.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/ManUnitedResources/2038308-42761647-2560-1440.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The fans of Manchester United Football Club, affectionately known as the 'Red Devils', are the heartbeat of the club, infusing every match with passion, loyalty, and unwavering support. From the stands of Old Trafford to stadiums across the globe, the Red Devils faithful create an electrifying atmosphere that fuels the players on the pitch.</p>
              <p class="info-fans">Renowned for their fervent dedication, Manchester United fans stand by their team through thick and thin, celebrating victories and enduring setbacks with equal fervor. Their chants echo through the stadium, their colors adorn the stands, and their unwavering support inspires players to give their all on the field.

                The bond between Manchester United and its fans runs deep, transcending geographical boundaries and generations. Whether at home or on the road, Red Devils supporters travel far and wide to show their allegiance, creating a sea of red wherever they go.
                
                Being a Manchester United fan is more than just supporting a football club; it's about camaraderie, identity, and a shared love for the game. The Red Devils faithful embody the spirit of Manchester - resilient, proud, and full of passion.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/ManUnitedResources/p01l9tn3.jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Manchester United Football Club boasts a storied trophy cabinet, adorned with numerous titles and accolades that underscore its status as one of the most successful clubs in football history. Throughout its illustrious history, Manchester United has secured a plethora of trophies, both domestically and internationally, solidifying its place among the elite of the sport.</p>
              <p class="info-trophies">At the forefront of Manchester United's trophy haul are its league championships, with the club having clinched the English top-flight title on multiple occasions. Additionally, Manchester United has lifted the FA Cup numerous times, contributing to its rich heritage and tradition in domestic cup competitions.

                In European competitions, Manchester United has left an indelible mark, with notable victories in the UEFA Champions League, including memorable triumphs in 1968, 1999, and 2008. These successes on the continental stage have further enhanced Manchester United's reputation as a global football powerhouse.
                
                Furthermore, Manchester United has enjoyed success in other prestigious tournaments, such as the FA Charity Shield, the League Cup, and various minor trophies, adding to its extensive collection of silverware.
                
                Overall, Manchester United's trophy haul reflects its enduring excellence and competitiveness on the footballing stage, serving as a testament to the club's rich legacy and the passion of its players and fans alike.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #DF1A21;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>