<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
<header th:replace="~{Fragments/fragments :: header(
    'black',
    '/images/NweCastleResources/logo.png',
    '/images/NweCastleResources/honours.thumb.jpg.a196315e5c46e332f8a85ff805a3d46d.jpg',
    'https://www.newcastleunited.com/tickets/on-sale-dates/',
    'https://www.newcastleunited.com',
    'https://twitter.com/NUFC',
    'https://www.instagram.com/nufc/',
    'https://www.facebook.com/newcastleunited',
    'https://www.youtube.com/@NUFC',
    'https://www.tiktok.com/@nufc'
)}"></header>

    <main th:replace="~{Fragments/fragments::main(
          '/images/NweCastleResources/c.webp',
          '/images/NweCastleResources/maxresdefault.jpg',
          '/images/NweCastleResources/fans-with-scarves-during-display-1080x608.jpg',
          '/images/NweCastleResources/troph.png',
          ${team.getHistorySmallInfo()},
          ${team.getHistoryBigInfo()},
          ${team.getFansSmallInfo()},
          ${team.getFansBigInfo()},
          ${team.getTrophiesSmallInfo()},
          ${team.getHistoryBigInfo()},
          'black',
          '#FFFFFF'
      )}"></main>
    <footer th:replace="Fragments/fragments::footer('black', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>