<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewCastleUnited page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: black;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: black; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/NweCastleResources/logo.png" alt="">
            <img class = "trophies" src="/images/NweCastleResources/honours.thumb.jpg.a196315e5c46e332f8a85ff805a3d46d.jpg" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.newcastleunited.com/tickets/on-sale-dates/">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.newcastleunited.com">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://twitter.com/NUFC"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.instagram.com/nufc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.facebook.com/newcastleunited"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.youtube.com/@NUFC"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@nufc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/NweCastleResources/c.webp'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/NweCastleResources/maxresdefault.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
               
Newcastle United Football Club has a rich and storied history that dates back to its formation in 1892. Throughout the years, the club has experienced both triumphs and challenges, shaping its identity as one of the most iconic teams in English football.</p>
              <p class="info-history">
                Founded as a response to the closing of the East End's Victoria Cricket Ground and the desire to establish a football team, Newcastle United quickly became a prominent force in the sport. The club's early years were marked by success, including winning the league title in 1904, 1905, and 1907 under the guidance of legendary manager Frank Watt.
                
                Newcastle United continued to enjoy success in the following decades, capturing numerous league titles and FA Cups. The club's iconic black and white stripes became synonymous with its rich history and passionate fanbase, who faithfully supported their team through thick and thin.
                
                Despite periods of struggle and relegation battles, Newcastle United's loyal supporters have remained steadfast in their support, filling St James' Park with their unwavering enthusiasm and creating an electrifying atmosphere on match days.
                
                In recent years, Newcastle United has faced challenges both on and off the pitch, but the club's legacy remains firmly intact. With a passionate fanbase, a proud history, and a commitment to returning to the pinnacle of English football, Newcastle United continues to strive for success and carry on its tradition of excellence.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/NweCastleResources/fans-with-scarves-during-display-1080x608.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
              
                The fans of Newcastle United Football Club are the heartbeat of the team, infusing every match with passion, loyalty, and unwavering support. Renowned for their fervent dedication and vocal presence, Newcastle fans create an electrifying atmosphere at St James' Park, turning every home game into an unforgettable spectacle.</p>
              <p class="info-fans">Through the highs and lows of the club's journey, Newcastle supporters stand by their team with unwavering loyalty, filling the stadium with chants, songs, and a sea of black and white. Their fervor and dedication inspire players on the pitch and intimidate opponents, creating a formidable fortress for their beloved club.

                The bond between Newcastle United and its fans runs deep, transcending generations and uniting supporters from all walks of life. Whether at home or away, Newcastle fans travel far and wide to support their team, demonstrating their unwavering commitment and passion for the club.
                
                For Newcastle fans, supporting their team is more than just a hobby; it's a way of life. Their enduring loyalty and passionate support embody the spirit of Newcastle and serve as a driving force behind the club's pursuit of success on the pitch.
                </p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/NweCastleResources/troph.png" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Newcastle United Football Club may not boast as many trophies as some of their counterparts, but they have a rich history in English football. Established in 1892, the club has had its share of highs and lows, from winning league titles to facing relegation battles.</p>
              <p class="info-trophies">The loyal fans of Newcastle, known as the Toon Army, are the heartbeat of the club. Their unwavering support, chants, and passion create an electrifying atmosphere at St James' Park, inspiring players and intimidating opponents alike.

                While Newcastle's trophy cabinet may not overflow, the club has secured notable triumphs over the years. This includes several league titles, FA Cups, and other domestic honors, showcasing their enduring presence in English football.
                
                In recent years, Newcastle has faced challenges, but their fans remain steadfast in their support. With a rich history behind them and passionate fans by their side, Newcastle United continues to strive for success and leave their mark on the footballing world.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: black;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>