<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nottingham Forest page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
        background-color: #D73435;
        border: 1px solid white;
      }
    </style>
</head>
<body>
    <header  style="background-color: #D73435;">
        <div class="photos" style="gap: 2em;">
            <img src="/images/NottingamResources/nottingham-forest-fc-club-symbol-white-logo-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg" alt="">
            <img class = "trophies" src="/images/NottingamResources/imgonline-com-ua-twotoone-72wJtU51AQG2P3.jpg" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.eticketing.co.uk/nottinghamforest/">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.nottinghamforest.co.uk">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://twitter.com/NFFC"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/officialnffc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/officialnffc/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCyAxjuAr8f_BFDGCO3Htbxw"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@officialnffc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/NottingamResources/7116f590-faa5-11eb-8fb1-d74153ecd170.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/NottingamResources/maxresdefault.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">The history of Nottingham Forest Football Club is a saga filled with glory, determination, and a relentless pursuit of excellence. Founded in 1865 in Nottingham, England, the club quickly rose to prominence in the footballing world, leaving an indelible mark on the sport.</p>
              <p class="info-history">From its humble beginnings, Nottingham Forest harbored lofty ambitions of conquering English football. Throughout its storied journey, the club has experienced both triumphs and setbacks, each chapter contributing to its rich tapestry of history. Under the legendary management of Brian Clough in the late 1970s and early 1980s, Nottingham Forest enjoyed unparalleled success, winning consecutive European Cups in 1979 and 1980, etching their name into footballing folklore.

                But beyond the trophies and titles lies the beating heart of Nottingham Forest – its passionate and loyal fanbase. Through thick and thin, Forest supporters have stood by their beloved club, their unwavering dedication echoing through the stands of the City Ground and reverberating across the footballing world.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/NottingamResources/_124973383_60c5e80ee485e3519fffa10374f0ccbf77c33137.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                The tale of Nottingham Forest Football Club is one steeped in history, loyalty, and a relentless pursuit of glory. Established in 1865 in the heart of Nottingham, England, the club swiftly rose to prominence, etching its name into the annals of footballing legend with each passing season.</p>
              <p class="info-fans">Devotion and unwavering support define the Nottingham Forest faithful. From the raucous chants echoing through the City Ground to the sea of red adorning the stands, the passion of the fans fuels the team's spirit. Through highs and lows, triumphs and trials, the Forest faithful stand resolute, united in their love for the club.

                The bond between Nottingham Forest and its supporters transcends mere fandom; it's a shared journey of triumphs, heartaches, and unforgettable moments. Whether home or away, the Nottingham faithful travel far and wide, painting every stadium red and white with their fervent support.
                
                Being a Nottingham Forest fan is more than just cheering for a football team; it's a way of life, a sense of belonging to a community that spans generations. The Reds embody the spirit of Nottingham - resilient, proud, and fiercely determined.</p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/NottingamResources/_124969168_gettyimages-1399951834 (1).jpg"  id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">While Chelsea Football Club's history is illustrious, it's further enriched by its extensive trophy cabinet, adorned with numerous titles and accolades that affirm its status as one of English football's most successful clubs. Since its establishment, Chelsea has claimed a plethora of domestic and international trophies, firmly cementing its place among the elite.</p>
              <p class="info-trophies">At the forefront of Chelsea's trophy collection are its league championships, with the club clinching numerous titles in the English top-flight. From its early successes to more recent triumphs, Chelsea's league victories epitomize the club's enduring pursuit of excellence.

                In addition to domestic league triumphs, Chelsea has enjoyed remarkable success in various cup competitions, including the FA Cup and the League Cup. These prestigious tournaments have provided moments of joy and glory for players and fans alike, etching unforgettable victories into the club's storied history.
                
                However, it's Chelsea's accomplishments in European competitions that truly set it apart on the global stage. The club's crowning glory came in 2012 when they clinched the UEFA Champions League title, marking a historic moment in Chelsea's journey and solidifying its legacy as a European powerhouse.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #D73435; color: white;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>