<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
<header th:replace="~{Fragments/fragments :: header(
    '#E91C3D',
    '/images/SouthamptonResources/southampton-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg',
    '/images/SouthamptonResources/trophies.png',
    'https://www.southamptonfc.com/en/matches/mens-team',
    'https://www.southamptonfc.com/en',
    'https://x.com/southamptonfc',
    'https://www.instagram.com/southamptonfc/',
    'https://www.facebook.com/southamptonfc/',
    'https://www.youtube.com/channel/UCxvXjfiIHQ2O6saVx_ZFqnw',
    'https://www.tiktok.com/@southamptonfc'
)}"></header>
    <main th:replace="~{Fragments/fragments::main(
    '/images/SouthamptonResources/southampton2.jpg',
    '/images/SouthamptonResources/maxresdefault.jpg',
    '/images/SouthamptonResources/96cdaeb0-1b8f-11ef-8651-1f49ea62d0a1.jpg',
    '/images/SouthamptonResources/Southampton-trophy_2436536.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#E91C3D',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#E91C3D', 'white')"></footer>
    <script src="/myscript.js"></script>
</body>
</html>