<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    '#E91C3D',
    '/images/SouthamptonResources/southampton-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg',
    '/images/SouthamptonResources/trophies.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#E91C3D', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/SouthamptonResources/southampton2.jpg',
    '/images/SouthamptonResources/maxresdefault.jpg',
    '/images/SouthamptonResources/96cdaeb0-1b8f-11ef-8651-1f49ea62d0a1.jpg',
    '/images/SouthamptonResources/Southampton-trophy_2436536.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#E91C3D',
    '#FFFFFF'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#E91C3D', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>