<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewCastleUnited page</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #E91C3D;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #E91C3D; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/SouthamptonResources/southampton-club-logo-symbol-premier-league-football-abstract-design-illustration-with-red-background-free-vector.jpg" alt="">
            <img class = "trophies" src="/images/SouthamptonResources/trophies.png" alt="">
        </div>
        <nav>
            <ul>
                <li ><a style = "color: white !important;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.southamptonfc.com/en/matches/mens-team">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.southamptonfc.com/en">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://x.com/southamptonfc"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.instagram.com/southamptonfc/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.facebook.com/southamptonfc/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.youtube.com/channel/UCxvXjfiIHQ2O6saVx_ZFqnw"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a style = "color: white !important" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@southamptonfc"><i class="fa-brands fa-tiktok"></i></a></i></li>
            </ul>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/SouthamptonResources/southampton2.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/SouthamptonResources/maxresdefault.jpg" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
                The history of Southampton Football Club is a narrative steeped in dedication, resilience, and an enduring quest for achievement. Founded in 1885 in the port city of Southampton, the club swiftly rose to prominence in English football, its legacy marked by remarkable highs and formidable challenges.</p>
              <p class="info-history">
                Southampton's journey through the footballing world has been characterized by both exhilarating triumphs and testing adversities. The club has experienced the glory of significant victories and the grit required to overcome setbacks, all while maintaining its distinctive identity. Central to this journey is Southampton's loyal and passionate fanbase, whose unwavering support has been a constant source of strength and inspiration.

At the core of Southampton FC lies a community united by their love for the club. The fans, with their enduring chants and vibrant presence, breathe life into St Mary's Stadium, creating an atmosphere that resonates far beyond the city. As Southampton continues to navigate the evolving landscape of football, its story remains a testament to the spirit of perseverance, unity, and the relentless pursuit of success.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/SouthamptonResources/96cdaeb0-1b8f-11ef-8651-1f49ea62d0a1.jpg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
              
                The supporters of Southampton Football Club are the beating heart of the team's success, their unwavering passion and dedication fueling the club's journey through triumphs and challenges alike. Since its founding in 1885, Southampton has cultivated a loyal and fervent fanbase that transcends geographical boundaries and generations.</p>
              <p class="info-fans">Southampton's fans, known for their vibrant chants and unwavering loyalty, create an electrifying atmosphere at St Mary's Stadium, transforming it into a fortress for the team. Their presence resonates both on and off the pitch, inspiring players and uniting communities in celebration of the club's rich heritage.

                Beyond the confines of the stadium, Southampton's supporters embody the spirit of camaraderie and resilience, forming a tight-knit community bound by their love for the club. Through highs and lows, victories and defeats, the fans stand shoulder to shoulder, a testament to the enduring power of unity and passion in football.
                </p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/SouthamptonResources/Southampton-trophy_2436536.jpg" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                The trophy cabinet of Southampton Football Club boasts a rich tapestry of achievements, reflecting the club's storied history and unwavering commitment to excellence. Since its inception in 1885, Southampton has etched its name into the annals of footballing glory, securing an impressive array of accolades and honors.</p>
              <p class="info-trophies">Among Southampton's notable triumphs is their historic victory in the FA Cup, a momentous achievement that stands as a testament to the club's enduring legacy. Additionally, Southampton has showcased their prowess on the continental stage, with notable successes in European competitions further solidifying their reputation as a force to be reckoned with.

                In addition to their on-field triumphs, Southampton's trophy cabinet also boasts domestic league titles and other prestigious honors, each representing a chapter in the club's illustrious history. These trophies serve as tangible reminders of Southampton's unwavering pursuit of success and their relentless dedication to achieving greatness on all fronts.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #E91C3D;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>