<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
<header th:replace="~{Fragments/fragments :: header(
    '#1E2551',
    '/images/TottenhamResources/totLogo.png',
    '/images/TottenhamResources/trTot.png',
    'https://www.tottenhamhotspur.com/tickets/buy-tickets/home-tickets/',
    'https://www.tottenhamhotspur.com/',
    'https://twitter.com/SpursOfficial',
    'https://www.instagram.com/spursofficial/',
    'https://www.facebook.com/TottenhamHotspur/',
    'https://www.youtube.com/spursofficial',
    'https://www.tiktok.com/@spursofficial'
)}"></header>
<section th:replace="Fragments/fragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#1E2551', 'white', ${team.country},${team.competition})"></section>
    <main th:replace="~{Fragments/fragments::main(
    '/images/TottenhamResources/241659-2500x1478-desktop-hd-tottenham-hotspur-fc-background-photo.jpg',
    '/images/TottenhamResources/TotHistory.png',
    '/images/TottenhamResources/IMG_2023-09-16-163455-1100x640.jpeg',
    '/images/TottenhamResources/audiCup.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#1E2551',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#1E2551', 'white')"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>