<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tottenham page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/teamsStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <style>
      .card-body button{
  background-color: #1E2551;
  border: 1px solid #FFFFFF;;
}
</style>
</head>
<body>
    <header  style="background-color: #1E2551; ">
        <div class="photos" style="gap: 0em;">
            <img src="/images/TottenhamResources/totLogo.png" alt="">
            <img class = "trophies" src="/images/TottenhamResources/trTot.png" alt="">
        </div>
        <nav>
            <ul>
              <li ><a style = "color: white !important;" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.tottenhamhotspur.com/tickets/buy-tickets/home-tickets/">Tickets <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="off_site"><a style = "color: white !important; border-inline: 1px solid white; padding-inline: 0.5em;" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.tottenhamhotspur.com/">Official site <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://twitter.com/SpursOfficial"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.instagram.com/spursofficial/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.facebook.com/TottenhamHotspur/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.youtube.com/spursofficial"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a style = "color: white !important" onmouseover="this.style.color='#22B6E4';" onmouseout="this.style.color='white';" href="https://www.tiktok.com/@spursofficial"><i class="fa-brands fa-tiktok"></i></a></i></li>
        </nav>
    </header>
    <main id="main"  style="background-image: url('/images/TottenhamResources/241659-2500x1478-desktop-hd-tottenham-hotspur-fc-background-photo.jpg'); background-size: 100% 100%;">
        <div class="card" id ="card-history" style="width: 18rem;">
            <img src="/images/TottenhamResources/TotHistory.png" id="photo1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HISTORY</h5>
              <p class="card-text">
                Tottenham Hotspur Football Club has a storied history dating back to its formation in 1882. Over the years, the club has established itself as one of the most iconic and respected teams in English football, with a legacy built on tradition, success, and a passionate fanbase.</p>
              <p class="info-history">The club's early years were marked by modest achievements, but Tottenham's fortunes changed dramatically in the 20th century. Under the guidance of legendary manager Bill Nicholson, Spurs enjoyed a golden era in the 1960s, winning numerous domestic titles, including the First Division and the FA Cup.

                Tottenham's success continued into the modern era, with the club consistently challenging for silverware both domestically and in European competitions. The team's famous "Glory, Glory, Tottenham Hotspur" motto epitomizes the club's ambition and determination to succeed at the highest level.
                
                Off the pitch, Tottenham has always been at the forefront of innovation and progress, with a state-of-the-art stadium and world-class training facilities. The club's commitment to excellence extends beyond the football pitch, with a strong emphasis on community engagement and social responsibility.
                
                As Tottenham Hotspur looks to the future, the club remains dedicated to its core values of attacking football, youth development, and success on all fronts.</p>
              <button id="history-button" class="btn btn-primary">Read more</button>
            </div>
          </div>
          <div class="card" id="card-fans" style="width: 18rem;">
            <img src="/images/TottenhamResources/IMG_2023-09-16-163455-1100x640.jpeg" id="photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FANS</h5>
              <p class="card-text">
                Tottenham Hotspur Football Club boasts a passionate and devoted fanbase that forms an integral part of the club's identity and success. Affectionately known as the "Spurs faithful," these supporters bring energy, enthusiasm, and unwavering loyalty to every match, creating an electrifying atmosphere at Tottenham Hotspur Stadium and beyond.</p>
              <p class="info-fans">Through thick and thin, Tottenham fans stand by their team, rallying behind the players with chants, songs, and unwavering support. Their dedication is palpable, whether at home matches or on the road, as they travel far and wide to cheer on their beloved Spurs, painting stadiums in the club's iconic white and navy colors.

                The bond between Tottenham Hotspur and its fans runs deep, transcending geographical boundaries and generations. It's more than just football for the Spurs faithful; it's about community, camaraderie, and shared passion. They embody the spirit of North London - resilient, proud, and full of heart.
                
                Together, Tottenham Hotspur and its fans form an unbreakable bond, united by a love for the game and a desire for glory. Their unwavering support fuels the team's ambition and ensures that the spirit of Spurs lives on, season after season.
                </p>
                <button class="btn btn-primary" id="fans-button">Read more</button>
            </div>
          </div>
          <div class="card" id="card-trophies" style="width: 18rem;">
            <img src="/images/TottenhamResources/audiCup.png" id="photo3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TROPHIES</h5>
              <p class="card-text">
                Tottenham Hotspur Football Club boasts a rich history filled with numerous trophies and accolades, solidifying its status as a powerhouse in English football. With two English top-flight titles and a remarkable eight FA Cup victories, Spurs have left an indelible mark on domestic competitions, captivating fans with their exhilarating performances.</p>
              <p class="info-trophies">Beyond domestic success, Tottenham Hotspur has made significant strides in European competitions, clinching the UEFA Cup (now UEFA Europa League) twice and reaching the final of the UEFA Champions League. These achievements showcase the club's ambition and its ability to compete at the highest levels on the continental stage.

                Moreover, Tottenham Hotspur's trophy cabinet includes various other honors, including four League Cup triumphs and several FA Charity Shield victories. With a rich tapestry of achievements spanning decades, Spurs continue to inspire generations of fans worldwide with their enduring excellence and commitment to success.</p>
              <button  class="btn btn-primary" id="trophies-button">Read more</button>
            </div>
          </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start" style="background-color: #1E2551;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright: LiveScores.com
        </div>
        <!-- Copyright -->
      </footer>
      <script src="/myscript.js"></script>
</body>
</html>