<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    '#1E2551',
    '/images/TottenhamResources/totLogo.png',
    '/images/TottenhamResources/trTot.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#1E2551', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/TottenhamResources/241659-2500x1478-desktop-hd-tottenham-hotspur-fc-background-photo.jpg',
    '/images/TottenhamResources/TotHistory.png',
    '/images/TottenhamResources/IMG_2023-09-16-163455-1100x640.jpeg',
    '/images/TottenhamResources/audiCup.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#1E2551',
    '#FFFFFF'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#1E2551', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>