<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/fragments::head"></head>

<body>
<header th:replace="~{Fragments/fragments :: header(
    '#7A2739',
    '/images/WestHamResources/logo.png',
    '/images/WestHamResources/file9WFY9L1P.jpg',
    'https://www.whufc.com/tickets/home-matches',
    'https://www.whufc.com',
    'https://twitter.com/westham',
    'https://www.instagram.com/westham/',
    'https://www.facebook.com/WestHam/',
    'https://www.youtube.com/westhamunited',
    'https://www.tiktok.com/@westham'
)}"></header>
<section th:replace="Fragments/fragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#7A2739', 'white', ${team.country},${team.competition})"></section>
    <main th:replace="~{Fragments/fragments::main(
    '/images/WestHamResources/wp9934544.webp',
    '/images/WestHamResources/logoWestHam.png',
    '/images/WestHamResources/busparade1600.jpg',
    '/images/WestHamResources/west-ham-europa-conference-league2022-23_q7l0hsj4kggq1t6jj4evsddaw.jpg',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#7A2739',
    '#FFFFFF'
)}"></main>
    <footer th:replace="Fragments/fragments::footer('#7A2739', 'white')"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>