<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/clubFragments::head}"></head>

<body>
<header th:replace="~{Fragments/clubFragments :: header(
    '#F5A918',
    '/images/WolverhamptonResources/logoWolves.png',
    '/images/WolverhamptonResources/trophies.png',
         ${links.getTicketsLink()},
         ${links.getOfficialSiteLink()},
         ${links.getTwitterLink()},
         ${links.getInstagramLink()},
         ${links.getFacebookLink()},
         ${links.getYoutubeLink()},
         ${links.getTiktokLink()}
)}"></header>
<section th:replace="~{Fragments/clubFragments::teamSmallInfo(${team.name}, ${team.initials}, ${team.created}, ${team.kitColor}, ${team.town}, ${team.budget}, '#F5A918', 'white', ${team.country},${team.competition})}"></section>
    <main th:replace="~{Fragments/clubFragments::main(
    '/images/WolverhamptonResources/backgrounfWol.jpg',
    '/images/WolverhamptonResources/historyWolves.png',
    '/images/WolverhamptonResources/flags-brentford.jpg',
    '/images/WolverhamptonResources/GettyImages-952515254-1024x585.png',
    ${team.getHistorySmallInfo()},
    ${team.getHistoryBigInfo()},
    ${team.getFansSmallInfo()},
    ${team.getFansBigInfo()},
    ${team.getTrophiesSmallInfo()},
    ${team.getHistoryBigInfo()},
    '#F5A918',
    '#FFFFFF'
)}"></main>
    <footer th:replace="~{Fragments/clubFragments::footer('#F5A918', 'white')}"></footer>
    <script src="/js/teamPageJs.js"></script>
</body>
</html>